* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

@font-face {
    font-family: 'google';
    src: "/home/samanta/projektid/Studytimer/pomodoro/src/main/resources/com/example/pomodoro/static/PlayfairDisplay-Black.ttf";
}

.text-field {
    -fx-font-family: Norasi, serif;
    -fx-background-color: #EDCBD2;
    -fx-text-fill: #1b6a63;
    -fx-padding: 0;
    -fx-font-size: 43;

}


.koolon {
    -fx-font-family: Norasi;
    -fx-font-size: 37;
}
