* {
    -fx-font-family: Norasi;
    -fx-background-color: #1a1a1c;
}

.koolon {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 37;
}

.text-field {
    -fx-background-color: #1a1a1c;
    -fx-text-fill: #e6e6e6;
    -fx-padding: 0;
    -fx-font-size: 43;

}
.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: #815db8;

}

.label {
    -fx-text-fill: #e6e6e6;
}

.aegadeNupp {
    -fx-text-fill: #815db8;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #1a1a1c;
    -fx-border-color : #1a1a1c;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#1a1a1c,0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#1a1a1c, 0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}
