* {
    -fx-font-family: Norasi;
}

#border {
    -fx-background-image: url("clouds.png");
    -fx-background-size: 320 440;
    -fx-background-position: center center;

}

@font-face {
    font-family: 'google';
    src: "/home/samanta/projektid/Studytimer/pomodoro/src/main/resources/com/example/pomodoro/static/PlayfairDisplay-Black.ttf";
}

.koolon {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 37;
}

.text-field {
    -fx-background-color: #1a1a1c;
    -fx-text-fill: #e6e6e6;
    -fx-padding: 0;
    -fx-font-size: 43;

}
.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: #815db8;

}

.label {
    -fx-text-fill: #e6e6e6;
}

.aegadeNupp {
    -fx-background-color: #151516;
    -fx-text-fill: #815db8;
}

.aegadeLeht {
    -fx-background-color: #1a1a1c;
}
